@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "nunito";
  width: 100%;
}

#container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 200px auto auto 200px;
  grid-template-areas: "header" "texto" "video" "footer";
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "logo logo" "nav1 nav2";
  justify-items: center;
  align-items: center;
  background-color: #333;
}

header img {
  width: 100px;
  grid-area: logo;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 15px;
  border: 1px solid white;
  border-radius: 10px;
}

nav a:hover {
  background-color: white;
  border: 1px solid palevioletred;
  color: black;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#nav1 {
  grid-area: nav1;
}

#nav2 {
  grid-area: nav2;
}

article {
  grid-area: texto;
  margin: 20px;
}

article h1 {
  font-size: 36px;
  text-align: center;
}

article p {
  padding-top: 50px;
  font-size: 22px;
  text-align: justify;
}

aside {
  grid-area: video;
}

aside iframe {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 20px;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(to right, grey, black);
  height: 200px;
}

footer .footer img {
  width: 50px;
  margin: 0 20px;
}
footer .footer img:hover {
  transform: translate(20px, -20px);
}

@media (min-width: 700px) {
  #container {
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px auto 200px;
    grid-template-areas: "header header" "texto video" "footer footer";
  }
  header {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "nav1 logo nav2";
    justify-items: center;
    align-items: center;
    background-color: #333;
  }
  footer {
    flex-direction: row;
  }
}
/**MAYORISTAS**/
article h1 {
  margin-top: 20px;
}

.link-mayoristas {
  background-color: lightblue;
  border: 2px solid #3498db;
  border-radius: 10px;
  text-decoration: none;
  color: black;
}

.link-mayoristas :hover {
  background-color: #3498db;
  color: white;
}

aside img {
  width: 100%;
  height: auto;
}

/**FAQ**/
.wrapper {
  max-width: 75%;
  margin: auto;
}

.wrapper > p,
.wrapper > h1 {
  margin: 1.5rem 0;
  text-align: center;
}

.wrapper > h1 {
  letter-spacing: 3px;
}

.accordion {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  font-size: 1.2rem;
  width: 100%;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion i {
  font-size: 1.6rem;
}

.active, .accordion:hover {
  background-color: #E4D4D2;
}

.pannel {
  padding: 0 2rem 2.5rem 2rem;
  background-color: white;
  overflow: hidden;
  background-color: #E4D4D2;
}

.pannel p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.faq {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
}

.faq .active {
  border: none;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "logo logo" "nav1 nav2";
  justify-items: center;
  align-items: center;
  background-color: #333;
}
header img {
  width: 100px;
  grid-area: logo;
}
header nav a {
  text-decoration: none;
  color: white;
  padding: 15px;
  border: 1px solid white;
  border-radius: 10px;
}
header nav a:hover {
  background-color: white;
  border: 1px solid palevioletred;
  color: black;
}
header nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
header #nav1 {
  grid-area: nav1;
}
header #nav2 {
  grid-area: nav2;
}

.restablecer {
  color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 0.2rem 1rem;
  width: 100%;
  background-color: rgb(228, 220, 220);
}
.restablecer:hover {
  border: 1px solid black;
}

.enviar {
  color: rgb(0, 0, 0);
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
  padding: 0.2rem 1rem;
  width: 100%;
  background-color: rgb(255, 177, 177);
}
.enviar:hover {
  border: 1px solid black;
}

.contacto-w {
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.contacto-w > * {
  padding: 1em;
}

.contact-form {
  background: #ffffff;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1/3;
}

.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #000000;
  border-bottom: 1px solid #664E24;
}

.contact-form form button {
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact-info {
  background: #575471;
  color: #ffffff;
}

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}

#pEspecial {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (min-width: 700px) {
  .contacto-w {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contacto-w > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }
}

/*# sourceMappingURL=style.css.map */
